
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient( #F1DAC4, #E3F2FD);
    color: var(--text-color);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto
}


h2{
    font-size: 30px;
    text-align: center;
}

h3{
    font-size: 20px;
    text-align: center;
}