/* Estilos para el texto del blog con efecto */
.blog-text {
    max-width: 800px;
    text-align: justify;
    line-height: 1.8;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: auto;
    font-size: 18px;
    transition: transform 0.3s;
}

.blog-text:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Estilos para los certificados*/
.certificados-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.box {
    width: calc(33.333% - 20px);
    min-width: 250px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 10px;
    background: white;
}

.box img {
    width: 100%;
    height: 100%;
    padding: auto;
    display: block;
    border-radius: 10px;
}

.box img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}