main {
    width: 90%;
    max-width: 1200px;
    padding: 2rem 0;
}

.separador {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.logo{
    border-radius: 90%;
    height: 50px;
    width: 50px;
    padding-top: 20px;
    padding-right: 20px;
    box-sizing: content-box;
}
/* Estilos para index imagenes */

.contenedor-imagen img{
    width:100%;
    height: 100%;
    justify-content: center;
}

.contenedor-imagen img:hover {
    transform: scale(1.10);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: color 0.3s ease-in-out;
}

// editar los botones de enlace
.boton-index {
    background-color: #018fc7;
    padding: 10px;
    margin: 20px;
}



.bienvenida h1{
    color: #0e4e97;
    font-size: xx-large;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

.regalar {
    box-sizing: content-box;
    margin: 40px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reserva-turno {
    box-sizing: content-box;
    margin: 40px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    font-weight: bold;
    text-transform: uppercase;
    animation: fadeIn 1s ease-in-out;
}

.aviso-importante{
    padding: 30px;
}

.aviso-importante ul{
    text-align: center;
    font-weight: bold;
}

.aviso-importante ul ol{
    padding: 6px;
    text-align: justify;
    font-weight: 100;
}

