/* SERVICIOS */
.servicios-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


.servicio {
    background-color: #fff;
    padding: 14px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
    transition: transform 0.3s;
}

.servicio h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--primary-color);
}

.servicio span {
    display: block;
    margin-top: 1rem;
    font-weight: bold;
    color: var(--dark-color);
}
.servicio:hover {
    transform: translateY(-5px);
}
